Assets/Gaia/** filter=lfs diff=lfs merge=lfs -text
Assets/Gaia[[:space:]]Dependencies/** filter=lfs diff=lfs merge=lfs -text
Assets/GaiaTerrainLayers/** filter=lfs diff=lfs merge=lfs -text
Assets/Scenes/Terrain/** filter=lfs diff=lfs merge=lfs -text
Assets/Sounds/** filter=lfs diff=lfs merge=lfs -text
Assets/Music/413203__joepayne__clean-and-pompous-fanfare-trumpet.mp3 filter=lfs diff=lfs merge=lfs -text
Assets/Music/413203__joepayne__clean-and-pompous-fanfare-trumpet.mp3.meta filter=lfs diff=lfs merge=lfs -text
Assets/Music/510953__theojt__cinematic-battle-song.mp3 filter=lfs diff=lfs merge=lfs -text
Assets/Music/510953__theojt__cinematic-battle-song.mp3.meta filter=lfs diff=lfs merge=lfs -text
Assets/Music/A1-Cave.mp3 filter=lfs diff=lfs merge=lfs -text
Assets/Music/A1-Cave.mp3.meta filter=lfs diff=lfs merge=lfs -text
Assets/Resources/Dialogue/Stein/stein-mutter.mp3.meta filter=lfs diff=lfs merge=lfs -text
Assets/Resources/Dialogue/Stein/stein-interessant.mp3.meta filter=lfs diff=lfs merge=lfs -text
Assets/Resources/Dialogue/Stein/stein-giraffe.mp3 filter=lfs diff=lfs merge=lfs -text
Assets/Resources/Dialogue/Stein/stein-ich-bin.mp3 filter=lfs diff=lfs merge=lfs -text
Assets/Resources/Dialogue/Stein/stein-ich-bin.mp3.meta filter=lfs diff=lfs merge=lfs -text
Assets/Resources/Dialogue/Stein/stein-interessant.mp3 filter=lfs diff=lfs merge=lfs -text
Assets/Resources/Dialogue/Stein/stein-nuklear.mp3 filter=lfs diff=lfs merge=lfs -text
Assets/Resources/Dialogue/Stein/stein-nuklear.mp3.meta filter=lfs diff=lfs merge=lfs -text
Assets/Resources/Dialogue/Stein/stein-roboter.mp3 filter=lfs diff=lfs merge=lfs -text
Assets/Resources/Dialogue/Stein/stein-roboter.mp3.meta filter=lfs diff=lfs merge=lfs -text
Assets/Resources/Dialogue/Stein/stein-giraffe.mp3.meta filter=lfs diff=lfs merge=lfs -text
Assets/Resources/Dialogue/Stein/stein-hallo.mp3.meta filter=lfs diff=lfs merge=lfs -text
Assets/Resources/Dialogue/Stein/stein-hören.mp3 filter=lfs diff=lfs merge=lfs -text
Assets/Resources/Dialogue/Stein/stein-mutter.mp3 filter=lfs diff=lfs merge=lfs -text
Assets/Resources/Dialogue/Stein/stein-hallo.mp3 filter=lfs diff=lfs merge=lfs -text
Assets/Resources/Dialogue/Stein/stein-hören.mp3.meta filter=lfs diff=lfs merge=lfs -text
Assets/Resources/Dialogue/Player/player-schnauze.mp3 filter=lfs diff=lfs merge=lfs -text
Assets/Resources/Dialogue/Player/player-schnauze.mp3.meta filter=lfs diff=lfs merge=lfs -text
Assets/Resources/Dialogue/Player/player-vergessen.mp3 filter=lfs diff=lfs merge=lfs -text
Assets/Resources/Dialogue/Player/player-erzähl.mp3.meta filter=lfs diff=lfs merge=lfs -text
Assets/Resources/Dialogue/Player/player-ja.mp3 filter=lfs diff=lfs merge=lfs -text
Assets/Resources/Dialogue/Player/player-nein.mp3 filter=lfs diff=lfs merge=lfs -text
Assets/Resources/Dialogue/Player/player-okay.mp3 filter=lfs diff=lfs merge=lfs -text
Assets/Resources/Dialogue/Player/player-sorry.mp3.meta filter=lfs diff=lfs merge=lfs -text
Assets/Resources/Dialogue/Player/player-witz.mp3 filter=lfs diff=lfs merge=lfs -text
Assets/Resources/Dialogue/Player/player-erzähl.mp3 filter=lfs diff=lfs merge=lfs -text
Assets/Resources/Dialogue/Player/player-ja.mp3.meta filter=lfs diff=lfs merge=lfs -text
Assets/Resources/Dialogue/Player/player-roboter.mp3.meta filter=lfs diff=lfs merge=lfs -text
Assets/Resources/Dialogue/Player/player-sorry.mp3 filter=lfs diff=lfs merge=lfs -text
Assets/Resources/Dialogue/Player/player-cool.mp3 filter=lfs diff=lfs merge=lfs -text
Assets/Resources/Dialogue/Player/player-cool.mp3.meta filter=lfs diff=lfs merge=lfs -text
Assets/Resources/Dialogue/Player/player-nein.mp3.meta filter=lfs diff=lfs merge=lfs -text
Assets/Resources/Dialogue/Player/player-vergessen.mp3.meta filter=lfs diff=lfs merge=lfs -text
Assets/Resources/Dialogue/Player/player-okay.mp3.meta filter=lfs diff=lfs merge=lfs -text
Assets/Resources/Dialogue/Player/player-roboter.mp3 filter=lfs diff=lfs merge=lfs -text
Assets/Resources/Dialogue/Player/player-witz.mp3.meta filter=lfs diff=lfs merge=lfs -text
